{% extends "a9.html" %}
{% block body %}

<h1 class="dspb p2">Compte</h1>
<div class="sm-dspb lg-dspf p0">

   
    <div class="sm-cl12 lg-cl3 p3 boxsh1 mr1">
        <h2 class="">Menu</h2>
        <ul class="" >
        <li><a class="p1tb" href="{{ uti.url_frontend }}">Profil</a></li>
        <li><a class="p1tb" href="/fr/fut1/">Modifier</a></li>
        <li><a class="p1tb" href="/cx9/">Deconnexion</a></li>
        </ul>
    </div>
   
   
   
    <div class="sm-cl12 lg-cl6 p3 dspb boxsh1 ">
        <h2 class="">Formulaire d'ajout</h2>
        <ul class="">
            <li><a class="p1tb" href="/fr/fpa1/">Parc</a></li>
            <li><a class="p1tb" href="/fr/fla2/">Land</a></li>
            <li><a class="p1tb" href="/fr/fma3/">Attraction</a></li>
            <li><a class="p1tb" href="/fr/fre4/">Restaurant</a></li>
            <li><a class="p1tb" href="/fr/fbo5/">Boutique</a></li>
            <li><a class="p1tb" href="/fr/fho6/">Hotel</a></li>
            <li><a class="p1tb" href="/fr/fsp7/">Spectacle</a></li>
            <li><a class="p1tb" href="/fr/fco8/">Coaster</a></li>
            
            
        </ul>
    
    </div>


</div>

{% endblock body %}