{% extends "a9.html" %}

{% block body %}
<div class="p0 min-he1 itec">
    <div class="lg-cl5 p2 m-auto boxsh1 txc" >   
    <h1 class="dspb">Inscription</h1>
    <form method="Post" class="">
        <input class="inpt1" type="text" name="utilisateur" placeholder="Nom utilisateur" required>
        <input class="inpt1" type="password" name="password" placeholder="Mot de passe" required>
        <input class="inpt1" type="password" name="confirm_password" placeholder="Confirmation de mot de passe" required>
        
        <button class="btn1" type="submit">Inscription</button>
    </form>
    </div>
</div>
{% endblock body %}