{% extends "a9.html" %}

{% block body %}

<div class="p0 min-he1 itec">
    <div class="lg-cl5 p2 m-auto boxsh1 txc" >
        
    <h1 class="dspb">Proposer du Restaurant</h1>
    <form method="Post" class="">
        <input class="inpt1" type="text" name="boutique" placeholder="Nom de la boutique" required>
        <textarea class="inpt1" name="description" placeholder="Description" rows="5" cols="33"></textarea>
        <textarea class="inpt1" name="marchandise" placeholder="Liste des marchandises" rows="5" cols="33"></textarea>
        <input class="inpt1" type="number" name="superficie" placeholder="Superficie">

        <button class="btn1" type="submit">Envoyer</button>
    </form>
    </div>


</div>
{% endblock body %}